@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Bowler
@{
}

<form id="bowlerForm" method="post" asp-controller="Home" asp-action="EditBowlerForm">
    <div asp-validation-summary="All"></div>
    <input asp-for="BowlerID" value="@ViewBag.bowler.BowlerID" type="hidden" hidden />
    <input asp-for="TeamID"value="@ViewBag.bowler.TeamID" type="hidden" hidden />
    <label asp-for="BowlerFirstName">First Name</label>
    <input class="form-control" id="bowFirstName" type="text" placeholder="Enter the first name..." asp-for="BowlerFirstName" value="@ViewBag.bowler.BowlerFirstName" />

    <label asp-for="BowlerLastName">Last Name</label>
    <input class="form-control" id="bowLastName" type="text" placeholder="Enter the last name..." asp-for="BowlerLastName" value="@ViewBag.bowler.BowlerLastName" />

    <label asp-for="BowlerMiddleInit">Middle Initial</label>
    <input class="form-control" id="bowLastName" type="text" placeholder="Enter the Middle Initial..." asp-for="BowlerMiddleInit" value="@ViewBag.bowler.BowlerMiddleInit" />

    <label asp-for="BowlerAddress">Address</label>
    <input class="form-control" id="bowAddress" type="text" placeholder="Enter the address..." asp-for="BowlerAddress" value="@ViewBag.bowler.BowlerAddress" />

    <label asp-for="BowlerCity">City</label>
    <input class="form-control" id="bowCity" type="text" placeholder="Enter the city..." asp-for="BowlerCity" value="@ViewBag.bowler.BowlerCity" />

    <label asp-for="BowlerState">State</label>
    <input class="form-control" id="bowState" type="text" placeholder="Enter the state..." asp-for="BowlerState" value="@ViewBag.bowler.BowlerState" />

    <label asp-for="BowlerZip">Zipcode</label>
    <input class="form-control" id="bowZip" type="text" placeholder="Enter the zipcode..." asp-for="BowlerZip" value="@ViewBag.bowler.BowlerZip" />

    <label asp-for="BowlerPhoneNumber">Phone Number</label>
    <input class="form-control" id="bowNum" type="text" placeholder="Enter the phone number..." asp-for="BowlerPhoneNumber" value="@ViewBag.bowler.BowlerPhoneNumber" />


    <label asp-for="Team.TeamName">Team Name</label>
    <input class="form-control" id="bowTeam" type="text" placeholder="Enter the team name..." asp-for="Team.TeamName" value="@ViewBag.bowler.Team.TeamName" />

    <br />
    <button asp-route-id="@ViewBag.bowler.BowlerID" type="submit" class="btn btn-success btn-primary text-center">Confirm New Bowler</button>

    
</form>
